*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    color: aliceblue;
    font-size: 18px;
    /* background: yellowgreen; */
}

p {
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;

}

.copyright {
    line-height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid white;
    width: 80%;
    height: 40px;
    color: white;
    font-size: 12px;
}